* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
  min-width: 1440px;
  min-height: 630px;
}

header {
  background-color: #010632;
  height: 15%;
  /* height: 25vh; */
  width: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.Icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 10px;
  grid-column: 1/2;
}

.Icon-img {
  border: none; /* Remove any border */
  outline: none; /* Remove any outline */
}

.restaurant-icon {
  background-image: url("Image/header/logo-icon/icons8-restaurant-building-85.png");
  background-size: cover;
  background-position: center;
  outline: none;
  border: none;
  padding: 40px;
}

.Icon-container > div {
  font-size: 2rem;
  color: #ffff;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

nav > button {
  border: none;
  cursor: pointer;
}

header > nav:first-of-type > button {
  font-size: 1.25rem;
  background-color: #010632;
  color: #ffff;
}

header > nav:first-of-type > button:hover {
  color: #f01542;
}

header > nav:nth-of-type(2) > button:nth-child(-n + 2) {
  width: 30px;
  height: 30px;
}

header > nav:nth-of-type(2) > button:first-child {
  background-image: url("Image/header/search-icon/unclicked.png");

  /* Specify background size */
  background-size: cover; /* or contain, or specific size values */
}

header > nav:nth-of-type(2) > button:first-child:hover {
  background-image: url("Image/header/search-icon/clicked.png");

  /* Specify background size */
  background-size: cover; /* or contain, or specific size values */
}

header > nav:nth-of-type(2) > button:nth-of-type(2) {
  background-image: url("Image/header/shoppingBag-icon/unclicked.png");
  background-size: cover;
}

header > nav:nth-of-type(2) > button:nth-of-type(2):hover {
  background-image: url("Image/header/shoppingBag-icon/clicked.png");
  background-size: cover;
}

header > nav:nth-of-type(2) > button:nth-of-type(3) {
  width: 85px;
  height: 35px;
  border: none;
  font-size: 1.25rem;
  color: #ffff;
  background-color: #f01542;
}

header > nav:nth-of-type(2) > button:nth-of-type(3):hover {
  background-color: #f34367;
}

#content {
  width: 100%;
  height: 100%;
  background-color: #010632;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-layout,
.aboutUs-layout,
.menu-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 80%;
  background-color: #010632;
}

.home-layout > .text-info,
.home-layout > .food-image {
  height: 100%;
  width: 50%;
}

.home-layout > .text-info {
  display: flex;
  flex-direction: column;
}

.slogan-section {
  width: auto;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  font-size: 3rem;
  font-family: fantasy;
  color: #ffff;
  font-weight: bolder;
  font-style: italic;
}

.healthy {
  color: #fb4f35;
}

.living {
  color: #ee1543;
}

.greetingMessage-section {
  width: auto;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetingMessage-section > .message {
  width: 75%;
  font-size: 1.25rem;
  color: #ffff;
}

.button-Section {
  width: auto;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-Section > .orderBtn {
  width: 100px;
  height: 50px;
  color: #ffff;
  background-color: #f01542;
  border: none;
  font-size: 1rem;
}

.button-Section > .orderBtn:hover {
  background-color: #f34367;
}

.home-layout > .food-image {
  background-color: #010632;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-layout > .food-image > img {
  height: 60%;
  width: 95%;
}

.aboutUs {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs-layout > .food-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.aboutUs-layout > .text-info,
.aboutUs-layout > .food-image {
  height: 100%;
  width: 50%;
}

.aboutUs-layout > .food-image > .circular-image {
  border-radius: 50%;
  border: 15px solid #fe5a2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.aboutUs-layout > .food-image > .circular-image > img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 65%;
}

.aboutUs-layout > .text-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.aboutUs-layout > .text-info > .aboutUsTitle {
  width: auto;
  color: #f01542;
  font-family: cursive;
  font-size: 1.75rem;
  font-weight: bolder;
  font-style: italic;
  padding-left: 50px;
}

.pharse {
  color: #e6f0f9;
  font-size: 2.5rem;
  font-style: italic;
  padding-left: 50px;
}

.restuarantDetail {
  color: #ffff;
  font-size: 1.25rem;
  padding-left: 50px;
}

.readMoreBtn {
  background-color: #f01542;
  font-size: 1rem;
  color: #ffff;
  border: none;
  width: 125px;
  height: 50px;
  margin-left: 50px;
}

/* MENU Content*/
.menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.menu-layout {
  background: linear-gradient(rgba(1, 6, 50, 0.85), rgba(1, 6, 50, 0.85)),
    url("Image/menu/foodBackground.jpeg");

  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.menu-layout > .title {
  color: #f01542;
  font-family: cursive;
  font-size: 1.75rem;
  font-weight: bolder;
  font-style: italic;
}

.menu-layout > .MainMenuTitle {
  color: #e6f0f9;
  font-size: 2.5rem;
  font-style: italic;
}

.menu-layout > .menuContainer {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center;
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5,
.menu6,
.menu7,
.menu8 {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.menuContainer img {
  height: 75px;
  width: 75px;
}

.menu1Layout,
.menu2Layout,
.menu3Layout,
.menu4Layout,
.menu5Layout,
.menu6Layout,
.menu7Layout,
.menu8Layout {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}

.menu1Title,
.menu2Title,
.menu3Title,
.menu4Title,
.menu5Title,
.menu6Title,
.menu7Title,
.menu8Title {
  color: #ffff;
  font-style: italic;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.menu1Style,
.menu2Style,
.menu3Style,
.menu4Style,
.menu5Style,
.menu6Style,
.menu7Style,
.menu8Style {
  color: #ffff;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.menu1Price,
.menu2Price,
.menu3Price,
.menu4Price,
.menu5Price,
.menu6Price,
.menu7Price,
.menu8Price {
  color: #ffff;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
